<div id="work" class="work">
    <div class="container">
        <div class="service-head text-center">
            <h4>WHAT I DID</h4>
            <h3>MY <span>EXPERIENCE</span></h3>
            <span class="border one"></span>
        </div>
        <div class="time-main w3l-agile">
            <div class="col-md-6 year-info">
                <ul class="year">
                    <li>summer 2021</li>
                    <li>summer2020</li>
                    <li>2020/2021</li>
                  <li>2019/2020</li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <ul class="col-md-6 timeline">
                <li>
                    <div class="timeline-badge info"><i class="glyphicon glyphicon-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Innovup</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Developpement d'une application web de gestion de kiosque </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="timeline-badge primary"><i class="glyphicon glyphicon-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">centre de developpement du siége de la poste</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Developpement d'un mini-projet </p>
                        </div>
                    </div>
                </li>



                <li>
                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">PFA: fst</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Developpement d'une application web de scrum Pocker </p>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="timeline-badge success"><i class="glyphicon glyphicon-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">FST</h4>
                        </div>
                        <div class="timeline-body">
                            <p>application console de reseaux sociaux , projets Pl/sql, Java, Site e-commerce et autres projets</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge pass"><i class="glyphicon glyphicon-briefcase"></i></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">FST</h4>
                        </div>
                        <div class="timeline-body">
                            <p> Projets de TP : talend,power BI .. </p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
  <a class="btn-danger" class="accordion-button" (click)="ajouter()"> ajouter</a>
</div>

