<h4 > Voila les informations à propos mon parcours  :</h4>
<div *ngIf="portfolios==null" class="spinner-border" role="status"  >
  <span class="sr-only">Loading...</span>
</div>
<div  class="container " *ngIf="portfolios!=null">
  <table class="table">

      <table class="table">
        <tr>
          <th>id</th>
          <th>Date</th>
          <th>nomFaculte</th>
          <th>SpecialiteEtude</th>
          <th>localisationFaculte</th>
        </tr>


<tr  *ngFor=" let p  of portfolios">
      <td>{{p.id}}</td>
  <td> {{p.Date}}</td>
  <td>{{p.nomFaculte}}</td>
  <td>{{p.SpecialiteEtude}}</td>
  <td>{{p.localisationFaculte}}</td>

</tr>
      </table>
  </table>
</div>






