
<div id="home" class="header">

    <div class="container">
        <!-- top-hedader -->
        <div class="top-header">
            <!-- /logo -->
            <!--top-nav---->
            <div class="top-nav">
                <div class="navigation">
                    <div class="logo">
                        <h1><a href="index.html"><span></span></a></h1>
                    </div>
                    <div class="navigation-right">
                        <span class="menu"><img src="../assets/images/menu.png" alt=" " /></span>
                        <nav class="link-effect-3" id="link-effect-3">

                        </nav>
                      <
                        <!-- script-for-menu -->
                      <!-- script in ts file -->
                        <!-- /script-for-menu -->
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- /top-hedader -->
            </div>
            <div class="banner-info">
                <div class="col-md-7 header-right">
                    <h1>Hi !</h1>
                    <h6>software engineering student</h6>
                    <ul class="address">

                        <li>
                            <ul class="address-text">
                                <li><b>NAME</b></li>
                                <li>I'M Nada Khlifi</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>D.O.B</b></li>
                                <li>18/09/1998</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>PHONE </b></li>
                                <li>+21628874057</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>ADDRESS </b></li>
                                <li>Manar1, Tunis</li>
                            </ul>
                        </li>
                        <li>
                            <ul class="address-text">
                                <li><b>E-MAIL </b></li>
                                <li><a href="mailto:example@mail.com"> nada.khlifi@etudiant-fst.com</a></li>
                            </ul>
                        </li>


                    </ul>
                </div>
                <div class="col-md-5 header-left">
                    <img src="../assets/images/img1.jpg" alt="">
                </div>
                <div class="clearfix"> </div>

            </div>
        </div>
    </div>
</div>
